<launch>
	<arg name="veh" default="$(env VEHICLE_NAME)"/>
	<!-- start basic args -->
	<include file="$(find duckietown_demos)/launch/master.launch">
		<arg name="joystick" value="false" />
		<arg name="LED" value="false" />
		<arg name="veh" default="howard17"/>
		<arg name="visualization" value="false" />
		<arg name="/camera/raw" value="true"/>
		<arg name="/lane_following/stop_line_filter" value="false" />
		<arg name="obstacle_avoidance" value="true" />
		<arg name="fsm_file_name" value="obstacle_avoid" />
	</include>
</launch>
